@charset "utf-8";
.FAQ{
    background-color:#eee;
}
.faqhead{
  color:#000080;
  font-size: 40px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.accordion {
    background-color:darkgray;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 95%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 17px;
    transition: 0.4s;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 38px;
  }

  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  .panel {
    padding: 0 18px;
    display: none;
    background-color: #eee;
    overflow: hidden;
    width: 95%;
    font-size: 15px;
    margin-left: 45px;
  }
.body{
    background-color: seashell;
}